.reflect-img {
  width: 500px;
  height: 500px;
  position: relative;
  background: url("../img/logo_play.png") no-repeat center;
}

.reflect-img::after {
  content: "";
  height: 40%;
  bottom: -41%;
  background-image: inherit;
  position: absolute;
  background-position: bottom;
  width: inherit;
  transform: scaleY(-1);
  opacity: 0.5;
}

.reflect-img::before {
  content: "";
  height: 40%;
  bottom: -41%;
  position: absolute;
  width: inherit;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), #fff);
  z-index: 1;
}
